<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
  <form action="/items" method="post">
    <input type="text" name="name">
    <input type="number" name="price">
    <input type="submit" value="submit">
  </form>
  <a href="/items"> Show items</a>

</body>

</html>