<!DOCTYPE html>
<html>
<head>
  <title> Order Information </title>
</head>
<body>
  <h1> ORDER INFORMATION </h1>

  <ul>
      <li>Reference Number = <%= order.reference_no %></li>
      <li>Customer Name= <%= order.customer_name %></li>
      <li>Date = <%=order.date%></li>
  </ul>

  <ol>
    <li>  <a href="/">List all order</a>
  </ol>
</body>
</html>