<!doctype html>
<html lang="en">

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<head>

<h1 class="d-flex justify-content-center">Category Detail</h1>
<hr>

<div class="d-flex justify-content-center">
<table class="table w-50 mt-5" >
  <tbody>
    <tr>
      <td>Category Name</td>
      <td><%= category.name%></td>
    </tr>
      <td>Items</td>
      <td>
          <% category.items.each do |item| %>
            <li>
             <%= item.name %><br>
            </li>
          <% end %>
      </td>
    </tr>
  </tbody>
</table>
</div>

<a class="d-flex justify-content-center mt-2" href='/categories'>Back</a>

</html>
